*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100px;
}
body{
    font-size: .28rem;
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
}
.wrap{
    padding-bottom: 1.28rem ;
}
.wrap .order-status,.wrap .order-number,.wrap .refund-rule,.wrap .info-list{
    padding: 0 .3rem;
}
.wrap .info-line{
    width: 100%;
    height: .1rem;
    background: #f7f7f7;
}
.wrap .info-location-line{
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}
.wrap .order-status{
    color: #ff6800;
    font-size: 0;
    overflow: hidden;
    height: 1.38rem;
    line-height: 1.38rem;
}
.wrap .order-status div,.wrap .order-status .status-price span{
    display: inline-block;
    font-size: 0;
}
.wrap .order-status .status-text{
    font-size: .42rem;
}
.wrap .order-status .status-price{
    float: right;
}
.wrap .order-status .status-price span{
    font-size: .38rem;
}
.wrap .order-status .status-price span.text{
    font-size: .34rem;
    color: #908f8f;
    margin-right: .14rem;
}
.wrap .order-number .number{
    height: 1.18rem;
    line-height: 1.18rem;
    font-size: 0;
    color: #3e3e3e;
}
.wrap .order-number .number span{
    display: inline-block;
    font-size: .34rem;
}
.wrap .order-number .number span.num-text{
    color: #908f8f;
    margin-right: .38rem;
}
.wrap .order-number .book-btn{
    margin: .18rem auto .4rem;
    width: 6rem;
    height: .8rem;
    line-height: .8rem;
    border-radius: .08rem;
    text-align: center;
    color: #fff;
    font-size: .3rem;
    background: #ff6800;
}
.wrap .info-list .item{
    height: .9rem;
    line-height: .9rem;
    color: #020202;
    font-size: 0;
}
.wrap .info-list .item i,.wrap .refund-rule i{
    display: inline-block;
    width: .26rem;
    height: .26rem;
    background: url("../images/sprite.png") no-repeat;
}
.wrap .info-list .item span{
    font-size: .3rem;
    vertical-align: top;
    display: inline-block;
    width: 5.2rem;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap .info-list .info-location{
    overflow: hidden;
}
.wrap .info-list .item .more{
    float: right;
    background-position: 0 0;
    background-size: cover;
    margin-top: .32rem;
}
.wrap .ticket-info{
    padding: .11rem .3rem;
}
.wrap .ticket-info .ticket-title{
    line-height: .52rem;
    font-size: .34rem;
    padding: .1rem 0;
}
.wrap .ticket-info .info .ticket-info-item{
    font-size: 0;
    text-align: left;
    overflow: hidden;
}
.wrap .ticket-info .info .ticket-info-item span{
    display: inline-block;
    font-size: .3rem;
}
.wrap .ticket-info .info .ticket-info-item span.title{
    float: left;
    width: 1.7rem;
    color: #908f8f;
    height: .68rem;
    line-height: .68rem;
}
.wrap .ticket-info .info .ticket-info-item span.content{
    width: 4.9rem;
    line-height: .44rem;
    padding: .12rem 0;
}
.wrap .refund-rule {
    font-size: 0;
    text-align: center;
}
.wrap .refund-rule span{
    display: inline-block;
    font-size: .3rem;
    height: .86rem;
    line-height: .86rem;
    color: #ff6800;
}
.wrap .refund-rule i.more{
    display: inline-block;
    background-position: 0 -.29rem;
    background-size: cover;
    height: .14rem;
    margin-left: .2rem;
}
.download-bg{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: 1.28rem;
    background: #fff;
}
.download-bg .download{
    position: absolute;
    bottom: .3rem;
    left: 50%;
    right: 50%;
    margin-left: -3.3rem;
    font-size: .32rem;
    width: 6.6rem;
    height: .98rem;
    line-height: .98rem;
    background: #ff6800;
    border-radius: .08rem;
    color: #fff;
    text-align: center;
}